<div class="item" data-aos="fade-down">
  <body id="about">
    <h2 class="section-title">
      <span>
        <h1>About <strong>Me</strong></h1></span
      >
    </h2>
    <div class="timeline">
      <div class="container1 left">
        <div class="content">
          <i class="icon_size fa-solid fa-user"></i>
          <h1>About</h1>
          <p class="js">
            Full Stack Web Developer with experience in HTML, CSS, Node.js,
            React,React Native ,Express.js and Git. Strong Information
            Technology professional with a Bachelor's degree in Information
            Technology from Lebanese International University.
          </p>
        </div>
      </div>

      <div class="container1 right">
        <div class="content">
          <i class="icon_size fa-solid fa-school"></i>
          <h1>Education</h1>
          <h2>Lebanese International University</h2>
          <h4>2017-2021</h4>
          <p>Bachelor's degree in information technology</p>
          <p class="js">
            Networking (CISCO), Network security, Mobile Application (Java),
            Robotics(Arduino), Windows Server, Desktop Application Visual Studio
            (C#)
          </p>
        </div>
      </div>
      <div class="container1 left">
        <div class="content">
          <i class="icon_size fa-solid fa-briefcase"></i>
          <h1>Experience</h1>
          <h2>Codi tech</h2>
          <h2>8 Months boot camp</h2>
          <ul class="js">
            <p>Back end (NodeJs Express, PHP, Laravel, SQL)</p>
            <p>Front end (JavaScript,React)</p>
            <p>Server Management (LAMP Stack, Linux)</p>
            <p>Project Management (AGILEMethodology)</p>
            <p>Content Management System (WordPress)</p>
          </ul>
          <h2>Grand Pharmacy</h2>
          <h4>2014-2022</h4>
          <p>IT Support</p>
        </div>
      </div>
      <div class="container1 right">
        <div class="content">
          <i class="icon_size fa-brands fa-git-alt"></i>
          <h1>Projects</h1>
          <h2>LMS | ReactJs and Laravel</h2>
          <p class="js">
            This Web application gives access to SuperAdmin to manage admins,
            classes, students & sections (CRUD Operations). It also generates
            reports for each class section & each student. The admins can take
            students' attendance in each class with an editable attendance
            option. Laravel was used for the Backend and React was for the
            Frontend. This project was done in teams using the Agile
            methodology.
          </p>
          <h2>Cezar Project| ReactJs, NodeJs, ExpressJs</h2>
          <p class="js">
            This Web application is used for branding and advertisement. Used
            MERN stack to build a full stack application
          </p>
          <h2>I's art work | Wordpress E-commerce</h2>
          <p class="js">
            E-commerce web app for arts and crafts supplies with an add to cart
            feature. Also, the user has the capability to purchase products via
            Whatsapp.
          </p>
          <h2>Socket online users | ReactJs, NodeJS, Socket IO</h2>
          <p class="js">Server for online users using socket.</p>
          <h2>PortFolio | ReactJs, NodeJs, ExpressJs</h2>
          <p class="js">
            The user can login to a dashboard and perform CRUD operations. This
            Web application is used for branding and advertisement. Used MERN
            stack to build a full stack application
          </p>
        </div>
      </div>
    </div>
  </body>
</div>
