section.portfolio {
  padding-top: 130px;
  text-align: center;
  background: #e8e8e8;
}
section.portfolio .projects-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px;
}
section.portfolio .projects-holder .project {
  width: 400px;
  height: 260px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  border-radius: 2%;
}
section.portfolio .projects-holder .project:before {
  content: "";
  display: block;
  padding-top: 100%;
}
section.portfolio .projects-holder .project:hover img {
  -webkit-transform: scale(1.2) rotate(3deg);
  transform: scale(1.2) rotate(3deg);
}
section.portfolio .projects-holder .project:hover .desc {
  background: rgba(0, 0, 0, 0.8);
}
section.portfolio .projects-holder .project:hover .desc:before,
section.portfolio .projects-holder .project:hover .desc:after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
section.portfolio .projects-holder .project:hover .desc:before {
  -webkit-transition: -webkit-transform 0.35s 0.7s;
  transition: -webkit-transform 0.35s 0.7s;
  transition: transform 0.35s 0.7s;
  transition: transform 0.35s 0.7s, -webkit-transform 0.35s 0.7s;
}
section.portfolio .projects-holder .project:hover .desc:after {
  -webkit-transition: -webkit-transform 0.35s 1.4s;
  transition: -webkit-transform 0.35s 1.4s;
  transition: transform 0.35s 1.4s;
  transition: transform 0.35s 1.4s, -webkit-transform 0.35s 1.4s;
}
section.portfolio .projects-holder .project:hover .desc h2 {
  -webkit-transform: translate(-50%, -80px);
  transform: translate(-50%, -80px);
}
section.portfolio .projects-holder .project:hover .desc .info {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
section.portfolio .projects-holder .project:hover .desc .info:before,
section.portfolio .projects-holder .project:hover .desc .info:after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
section.portfolio .projects-holder .project:hover .desc .info:before {
  -webkit-transition: -webkit-transform 0.35s 0.35s;
  transition: -webkit-transform 0.35s 0.35s;
  transition: transform 0.35s 0.35s;
  transition: transform 0.35s 0.35s, -webkit-transform 0.35s 0.35s;
}
section.portfolio .projects-holder .project:hover .desc .info:after {
  -webkit-transition: -webkit-transform 0.35s 1.05s;
  transition: -webkit-transform 0.35s 1.05s;
  transition: transform 0.35s 1.05s;
  transition: transform 0.35s 1.05s, -webkit-transform 0.35s 1.05s;
}
section.portfolio .projects-holder .project img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}
section.portfolio .projects-holder .project .desc {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
section.portfolio .projects-holder .project .desc:before,
section.portfolio .projects-holder .project .desc:after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  height: 2px;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
section.portfolio .projects-holder .project .desc:before {
  top: 5%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
section.portfolio .projects-holder .project .desc:after {
  bottom: 5%;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
section.portfolio .projects-holder .project .desc h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 0 0 5px #000;
}
section.portfolio .projects-holder .project .desc .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}
section.portfolio .projects-holder .project .desc .info:before,
section.portfolio .projects-holder .project .desc .info:after {
  content: "";
  position: absolute;
  top: 5%;
  bottom: 5%;
  width: 2px;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
section.portfolio .projects-holder .project .desc .info:before {
  left: 5%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
section.portfolio .projects-holder .project .desc .info:after {
  right: 5%;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
section.portfolio .projects-holder .project .desc .info p {
  color: #fff;
  width: 70%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-size: 0.75rem;
}
section.portfolio .projects-holder .project .desc .info a {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
section.portfolio .projects-holder .project .desc .info a:hover:before,
section.portfolio .projects-holder .project .desc .info a:hover:after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
section.portfolio .projects-holder .project .desc .info a:before,
section.portfolio .projects-holder .project .desc .info a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
section.portfolio .projects-holder .project .desc .info a:before {
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
section.portfolio .projects-holder .project .desc .info a:after {
  bottom: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
section.portfolio .projects-holder .project .desc .info a:last-child {
  margin-bottom: 0;
}
section.portfolio .all-btn {
  display: inline-block;
  background: #fcbe1f;
  text-align: center;
  line-height: 30px;
  color: #fff;
  padding: 3px 15px;
  border-radius: 3px;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}
section.portfolio .all-btn:hover {
  color: #cc8916;
}
.title_project {
  background-color: rgba(27, 19, 19, 0.579);
  width: 300px !important;
}

