<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="heading">
      <h2 class="section-title">
        <span>
          <h1>MY <strong>Projects</strong></h1></span
        >
      </h2>
    </h2>
    <div class="projects-holder">
      <div class="project">
        <img class="stop-select" src="../../assets/khala.png" alt="Khala" />
        <div class="desc">
          <h2 class="title_project">Khala</h2>
          <div class="info">
            <p>PortFolio<br />ReactJs Nodejs ExpressJs Mongoose</p>
            <a
              class="stop-select"
              href="https://khala.onrender.com/"
              data-lightbox="portfolio"
              data-title="Weather"
              >Preview</a
            ><a
              class="stop-select"
              href="https://gitlab.com/nourkadri/khala"
              target="_blank"
              >Gitlab</a
            >
          </div>
        </div>
      </div>
      <div class="project">
        <img class="stop-select" src="../../assets/lms.png" alt="Weather app" />
        <div class="desc">
          <h2 class="title_project">LMS</h2>
          <div class="info">
            <p>Learning Managment System<br />ReactJs and Laravel</p>
            <a
              class="stop-select"
              href="https://codi-lms.netlify.app/"
              data-lightbox="portfolio"
              data-title="Weather"
              >Preview</a
            ><a
              class="stop-select"
              href="https://gitlab.com/nourkadri/lms"
              target="_blank"
              >Gitlab</a
            >
          </div>
        </div>
      </div>
      <div class="project">
        <img
          class="stop-select"
          src="../../assets/cezar.png"
          alt="Weather app"
        />
        <div class="desc">
          <h2 class="title_project">Cezar Project</h2>
          <div class="info">
            <p>Portfolio<br />ReactJs, NodeJs, ExpressJs</p>
            <a
              class="stop-select"
              href="http://cezar.onrender.com/"
              data-lightbox="portfolio"
              data-title="Weather"
              >Preview</a
            ><a
              class="stop-select"
              href="https://gitlab.com/ahmad.m.majed99/cezarsproject"
              target="_blank"
              >Gitlab</a
            >
          </div>
        </div>
      </div>
      <div class="project">
        <img
          class="stop-select"
          src="../../assets/mer.png"
          data-src="../../assets/header-bg.jpg"
          alt="Weather app"
        />
        <div class="desc">
          <h2 class="title_project">Mercedes 2022</h2>
          <div class="info">
            <p>Mercedes 2022<br />JavaScript, CSS, HTML</p>
            <a
              class="stop-select"
              href="https://mercedes-2022.netlify.app/"
              data-lightbox="portfolio"
              data-title="Weather"
              >Preview</a
            >
          </div>
        </div>
      </div>
      <!-- <div class="project">
        <img
          class="stop-select"
          src="../../assets/socket.png"
          alt="Weather app"
        />
        <div class="desc">
          <h2 class="title_project">Socket online users</h2>
          <div class="info">
            <p>
              Server for online users using socket<br />ReactJs, NodeJS,
              ExpressJs ,Socket IO
            </p>
            <a
              class="stop-select"
              href="https://socket-nour.herokuapp.com/"
              data-lightbox="portfolio"
              data-title="Weather"
              >Preview</a
            >
          </div>
        </div>
      </div> -->
      <div class="project">
        <img
          class="stop-select"
          src="../../assets/portfolio_project.png"
          alt="Portfolio"
        />
        <div class="desc">
          <h2 class="title_project">Portfolio</h2>
          <div class="info">
            <p>Portfolio<br />ReactJs, NodeJs, ExpressJs</p>
            <a
              class="stop-select"
              href="https://ibrahimserhane.netlify.app/"
              data-lightbox="portfolio"
              data-title="Weather"
              >Preview</a
            ><a
              class="stop-select"
              href="https://gitlab.com/nourkadri/portfolio/-/tree/master"
              target="_blank"
              >Gitlab</a
            >
          </div>
        </div>
      </div>
      <div class="project">
        <img
          class="stop-select"
          src="../../assets/wordpress.png"
          alt="I's art work"
        />
        <div class="desc">
          <h2 class="title_project">I's art work</h2>
          <div class="info">
            <p>E-commerce web app f<br />Wordpress</p>
            <a
              class="stop-select"
              href=" http://isartwork.tk/"
              data-lightbox="portfolio"
              data-title="Weather"
              >Preview</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
